<!DOCTYPE html>

<html>
   <head>
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
       <title>INI Files</title>
       <link href="global.css" rel="stylesheet" type="text/css">                    <!-- archivo de codigo de estilo css -->
       <link rel="shortcut icon" href="INI_ico.png" type="image/x-icon">            <!-- shortcut icon, favicon -->
       <script src="http://code.jquery.com/jquery-1.11.0.min.js"> </script>         <!-- JQuery -->
       <script src="http://underscorejs.org/underscore.js"> </script>               <!-- Underscore -->
       <script type="text/javascript" src="INIFiles_JM.js"></script>                <!-- archivo de codigo javascript -->

   </head>

   <body>
    <center>

      <script type="text/html" id="template_ext">
        <li> 
          <span class = "<%= token.type %>"> <%= match %> </span>
        </li>
      </script>

      <h1><br>Analizador de archivos INI</h1>
      <h3><br><br>Seleccione archivos de configuración <a href="http://es.wikipedia.org/wiki/INI_(extensi%C3%B3n_de_archivo)">INI</a> mediante el botón <i>"Elegir archivos"</i> o arrastre los archivos al área indicada y se desplegará su contenido.</h3>
     
      <div id="drop_zone">Arrastre los archivos aquí</div>
      <output id="list"></output>
      
      <script>
          function handleDragOver(evt) 
          {
              evt.stopPropagation();
              evt.preventDefault();
              evt.target.style.background = "green";
          }

          function handleDragLeave(evt) 
          {
              evt.stopPropagation();
              evt.preventDefault();
              evt.target.style.background = "none";
          }

          // Setup the drag and drop listeners.
          var dropZone = document.getElementById('drop_zone');
          dropZone.addEventListener('dragover', handleDragOver, false);
          dropZone.addEventListener('dragleave', handleDragLeave, false);
          dropZone.addEventListener('drop', calculate, false);
      </script> 	

      <br>
    <input type="file" id="fileinput" />
    <div id="out" class = "hidden" >
	
    <br><br>
    <table id="tokens-table"  style="overflow-y:scroll">
	     <tr><th>Original</th><th>Tokens</th></tr>
	     <tr>
	       <td id="original">
	           <pre class="input" id="initialinput"></pre>
	       </td>
	       <td id="tokens">
	           <pre class="output" id="finaloutput"></pre>
	       </td>
	     </tr>
	  </table>
    </div>

    </center>
      
      
      <a href="tests/index.html"><br><br> Tests Unitarios (Mocha, Chai) </a>
      <br>
      
   </body>
</html>